

* {
    box-sizing: border-box;
  }
  
  
  
  body {
    font-family: 'Open Sans', sans-serif;
    background: linear-gradient(top, #222, #333);
    background: #0d8c2d;
   
  }
  button{
  align-self: center;
    padding: 20px;
    background:green;
    border-radius: 5px;
    border:solid 2px #111;
    width: 200px;
  }
  
  .container_all {
    display: flex ;
    flex-direction: column;
    justify-content: center; 
    align-content: center;
    width: 80vw;
    height: 80vh;
    margin: 10vh 10vw;
  }
  
  .dice{
    display: flex ;
    flex-wrap:wrap;
    align-content: center;
    justify-content: center;
    width: 100%;
  }
  
  /*The [attribute$=value] selector matches every element whose attribute value ends with a specified value.*/
  [class$="face"] {
    margin: 16px;
    padding: 4px;
  
    background-color: #e7e7e7;
    width: 104px;
    height: 104px;
    object-fit: contain;
  
    box-shadow:
      inset 0 5px white,
      inset 0 -5px #bbb,
      inset 5px 0 #d7d7d7,
      inset -5px 0 #d7d7d7;
     display: flex;
    border-radius: 10%;
  }
  
  .first-face {
    justify-content: center;
    align-items: center;
  }
  
  .second-face {
    flex-flow: column;
    justify-content: space-between;
  }
  
  .second-face .pip:nth-child(2)  {
    align-self: flex-end;
  }
  
  .third-face {
    flex-flow: column;
  }
  
  .third-face .pip:nth-child(2)  {
    align-self: center;
  }
  
  .third-face .pip:nth-child(3)  {
    align-self: flex-end;
  }
  
  .fourth-face{
    justify-content: space-between;
  }
  .fourth-face .column{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  
  .fifth-face {
    justify-content: space-between;
  }
  
  .fifth-face .column {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  
  .fifth-face .column:nth-child(2) {
    justify-content: center;
  }
  
  .sixth-face{
    justify-content: space-between;
    align-items: center;
  }
  .sixth-face .column {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  
  .pip {
    display: block;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    margin: 4px;
  
    background-color: #333;
    box-shadow: inset 0 3px #111, inset 0 -3px #555;
  }
  
  